# Dependencies
node_modules/

# Environment variables
.env

# Build files
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Python (Django)
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3

# Virtual environment
venv/

# VS Code
.vscode/

.env